<style type="text/css">
                      .checklist {
    list-style-type: none;
}
.checked {
    background-image: url('istockphoto-1430983955-2048x2048.jpg');
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
li {
    background-image: url('20_stop-button.ed28ddaab6.jpg');
    background-size: 15px;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-top: 20px;
    margin-left: 25px;
}
</style>