    <style type="text/css">
                      h1{font-family:"Arial"; font-size:1.8em; color:#FF0000;}
                      h2{font-family:"Arial"; font-size:1.5em; color:#0000FF;}
                      h3{font-family: "Arial"; font-size:1.4em;color:#00FF00;}
                      p{font-family:"Times New Roman"; font-size:1.2em;}
    </style>
