<style type="text/css">
                      h1{font-family:"Arial"; font-variant: small-caps; background-color:#FF0000;}
body{background-color:silver; font-family:"verdana"; font-size:1.1em; color:darkblue;}
a.hoover{background-color: white; color:black; font-weight: bold;}
li{ border: none;
    border-bottom: 1px dotted;
}
</style>