<style type="text/css">
                      li {
                          display:inline-block;
                          width:150px;
                          color:red;
                      }
</style>